<!--footer content-->
<div id="main">
    <div id="headerContainer">
        <app-header-admin />
    </div>
    <div id="formContainer">
        <form [formGroup]="myFormAdd">
            <div id="formQuestions">
                <label>Nombre del producto:</label>
                <input formControlName="name" placeholder="nombre">
                <label>Marca</label>
                <input formControlName="brand" placeholder="marca">
            </div>
            <div id="buttonForm">
                <button (click)="addProduct()">Agregar producto</button>
            </div>
        </form>

    </div>
</div>