<div id="main">
    <div id="dashboard">
        <app-dashboard/>
    </div>
    <div id="informationData">
        <div id="titleContainer">
            <div id="titleInformation">
                <h4>Iferretería</h4>
            </div>
        </div>
        <div id="cards">
            <div id="cardsInformation">
                <div id="title">
                    <p>El stock general</p>
                </div>
                <div id="content">

                </div>
            </div>
        </div>
    </div>
</div>