#main {
    width: 100%;
    height: 100vh;
    display: flex;

    #dashboard {
        width: 15%;
        height: 100%;
    }

    #informationData {
        width: 85%;
        height: 80;

        #titleContainer {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            #titleInformation {
                border: 1px solid silver;
                box-shadow: -3px -4px 5px -1px rgba(0, 0, 0, 0.12);
                width: 90%;
                height: 80%;
                background-color: white;
                border-radius: 4px;
                display: flex;
                justify-content: start;
                align-items: center;

                #firstTitle {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    h4 {
                        padding-left: 2rem;
                        font-size: 22px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }

                #secondTitle {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    
                    p {
                        padding-right: 2rem;
                        font-size: 22px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }

            }
        }

        #cards {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;


            #cardsInformation {
                border: 1px solid silver;
                box-shadow: -3px -4px 5px -1px rgba(0, 0, 0, 0.12);
                width: 90%;
                height: 90%;
                border-radius: 4px;
                background-color: white;

                #title {
                    width: 100;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: start;


                    p {
                        padding-left: 2rem;
                        font-size: 20px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }


                    #secondTitle {
                        p {
                            padding-left: 2rem;
                            font-size: 20px;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        }
                    }

                }

                #contentCardsView {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                    flex-wrap: wrap;

                    #card-view-information {
                        width: 15%;
                        height: auto;
                        border: 1px solid silver;
                        box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.23);
                    }
                }
            }
        }
    }
}