<div class="imageIcon">
    <img src="assets/PACKAGING_DESIGN-1024.webp">
</div>
<div id="dataContainer">
    <div id="infoContainer">
        <div id="nameContainer">
            <div style="width: 100%; height: 30px; display: flex; justify-content: center; align-items: center;">
                <p class="title">nombre del producto</p>
            </div>
            <div style="width: 100%; height: 25px; display: flex; justify-content: center; align-items: center;">
                <input *ngIf="isEditing" [(ngModel)]="product.name" />
                <p *ngIf="!isEditing" class="text">{{product.name}}</p>
            </div>
        </div>
        <div id="costContainer">
            <div style="width: 100%; height: 30px; display: flex; justify-content: center; align-items: center;">
                <p class="title">costo del producto</p>
            </div>
            <div style="width: 100%; height: 25px; display: flex; justify-content: center; align-items: center;">
                <input *ngIf="isEditing" [(ngModel)]="product.cost" type="number" />
                <p *ngIf="!isEditing" class="text">{{product.cost}}</p>
            </div>
        </div>
        <div id="amountContainer">
            <div style="width: 100%; height: 30px; display: flex; justify-content: center; align-items: center;">
                <p class="title">cantidad de producto</p>
            </div>
            <div style="width: 100%; height: 25px; display: flex; justify-content: center; align-items: center;">
                <input *ngIf="isEditing" [(ngModel)]="product.amount" type="number" />
                <p *ngIf="!isEditing" class="text">{{product.amount}}</p>
            </div>
        </div>
        <div id="brandContainer">
            <div style="width: 100%; height: 30px; display: flex; justify-content: center; align-items: center;">
                <p class="title">marca del producto</p>
            </div>
            <div style="width: 100%; height: 25px; display: flex; justify-content: center; align-items: center;">
                <input *ngIf="isEditing" [(ngModel)]="product.brand" />
                <p *ngIf="!isEditing" class="text">{{product.brand}}</p>
            </div>
        </div>
    </div>
    <div id="buttonsUpdate">
        <button (click)="toggleEditing()">{{isEditing ? 'Cancelar' : 'Editar'}}</button>
        <button *ngIf="isEditing" (click)="saveChanges()">Generar cambios</button>
    </div>
</div>