.imageIcon {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    img {
        border: 1px solid silver;
        width: 60%;
        height: 60%;
    }
}

#infoContainer {
    width: 100%;
    height: auto;
    #nameContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    #costContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    #amountContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #brandContainer {
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title{
    font-family: 12px;
    font-family: 'san-serif', Rubik;
}

.text {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}