#nameContainer {
    width: 100%;
    height: 10%;
    border: 1px solid red; 
}

#costContainer {
    width: 100%;
    height: 20%;
    border: 1px solid blue;
}

#amountContainer {
    width: 100%;
    height: 30%;
}

#brandContainer {
    width: 100%;
    height: 40%;
}

