<div id="imageContainer">
    <img src="assets/PACKAGING_DESIGN-1024.webp">
</div>
<div id="infoContainer">
    <div id="nameContainer">
        {{product.name}}
    </div>
    <div id="costContainer">
        {{product.cost}}
    </div>
    <div id="amountContainer">
        {{product.amount}}
    </div>
    <div id="brandContainer">
        {{product.brand}}
    </div>
    <div id="iconAdd">
        <button (click)="addproduct()">
            <img src="assets/add-icon-4.jpg">
        </button>
    </div>
</div>