$font-apple: '';

header {
    width: 100%;
    height: 100%;
    box-shadow: -1px 9px 5px -4px rgba(0, 0, 0, 0.75);

    nav {
        width: 80%;
        height: 90%;
        display: flex;
        padding-left: 10px;


        a {
            cursor: pointer;
            img {
                width: 20px;
                height: 20px;
            }
        }

        #titleContainer {
            width: 20%;
            height: 90%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 10px;

            p {
                font-size: 18px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }

    }
}

//
#imageIcon {
    width: 60px;
    height: 60px;
}