<!--footer content-->
<div id="main">
    <div id="headerContainer">
        <app-header-admin />
    </div>
    <div id="formContainer" [ngClass]="{'extend': 'extend'}">
        <div *ngIf="!complete">
            <form [formGroup]="myFormAdd" (ngSubmit)="addProduct()">
            <label>Nombre del producto:</label>
            <input placeholder="nombre">
            <label>costo del producto</label>
            <input placeholder="costo">
            <label>cantiad</label>
            <input placeholder="cantidad">
            <button type="submit">Agregar producto</button>
            </form>
        </div>
    </div>
</div>