#main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #headerContainer {
        width: 100%;
        height: 10%;
        background-color: white;
    }

    #formQuestionContainer {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            width: 20%;
            height: 85%;
            padding-top: 10px;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            border-radius: 2px;
            background-color: white;
            border: 1px solid silver;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            #contentFormQuestion {
                width: 90%;
                height: 90%;

                .questionsContainer {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    gap: 1rem;

                    input {
                        width: 90%;
                        height: 25%;


                    }

                    label {
                        font-size: 14px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }

                #buttonContainerForm {
                    width: 100%;
                    height: 20%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: white;
                    border: none;

                    button {
                        width: 200px;
                        height: 25px;
                        background-color: rgb(84, 203, 203);
                        border: transparent;
                        outline: none;
                        cursor: pointer;

                        &:hover {
                            transition: 0.4s ease;
                            box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
                        }
                    }
                }
            }
        }

    }

    #formContainer {
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        #card {
            width: 40%; 
            height: 40%;
            margin: 10px; 
            background-color: white;
            box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
            border-radius: 8px; 
            display: flex;
            transition: transform 0.2s;
        }
    }

}

//extend 

#extend {
    width: 400px;
    height: 400px;
    border: 1px solid;
}