<section>
    <div id="logo">
        <a>
            <img src="assets/5781e78e1643e53087c5d4a78ef679a7.jpg" alt="mainImage" id="mainImage">
        </a>
        <p>
            Home
        </p>
    </div>
    <div id="content">
        <div id="optionsContent">
            <div class="addIconContainer">
                <div class="iconContaineradd">
                    <a [routerLink]="['/admin/add']">
                        <img src="assets/add-icon-4.jpg" id="icon">
                    </a>
                </div>
                <div class="titleContaineradd">
                    <p>Agregar producto</p>
                </div>
            </div>
            <div class="addIconContainer">
                <div class="iconContaineradd">
                    <a [routerLink]="['/admin/delete']">
                        <img src="assets/delete-icon-2.jpg" id="icon">
                    </a>
                </div>
                <div class="titleContaineradd">
                    <p>Eliminar producto</p>
                </div>
            </div>
            <div class="addIconContainer">
                <div class="iconContaineradd">
                    <a [routerLink]="['/admin/update']">
                        <img src="assets/icon-for-update-28.jpg" id="icon">
                    </a>
                </div>
                <div class="titleContaineradd">
                    <p>Actualizar producto</p>
                </div>
            </div>

        </div>
    </div>
</section>